/* line 1, ../sass/ChatView.scss */
.ChatView {
  float: left;
  width: 566px;
  height: 100%;
}
/* line 5, ../sass/ChatView.scss */
.ChatView .ChatViewContMenu {
  width: 100%;
  height: 29px;
  line-height: 20px;
}
/* line 9, ../sass/ChatView.scss */
.ChatView .ChatViewContMenu span {
  font-size: 16px;
  font-family: "Microsoft YaHei";
  color: #404040;
  margin: 0 18px 0 15px;
}
/* line 15, ../sass/ChatView.scss */
.ChatView .ChatViewContMenu em {
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #b3b3b3;
}
/* line 19, ../sass/ChatView.scss */
.ChatView .ChatViewContMenu em:hover {
  color: #00aaff;
  cursor: pointer;
}
/* line 25, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp {
  width: 100%;
  height: 494px;
  padding: 15px 0;
  background: #f7f9fa;
}
/* line 30, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .v_a {
  padding: 0 15px;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
}
/* line 35, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .v_a::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
/* line 41, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .v_a:hover::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
/* line 46, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .v_a:hover::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
/* line 53, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b {
  width: 100%;
  height: 100%;
}
/* line 56, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b li {
  margin-bottom: 20px;
}
/* line 59, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b .chatTime {
  text-align: center;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #999999;
  margin-bottom: 20px;
}
/* line 66, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b .chatStrip {
  position: relative;
  min-height: 34px;
}
/* line 69, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b .chatStrip .chatUserImg {
  width: 34px;
  height: 34px;
  border-radius: 4px;
  overflow: hidden;
}
/* line 74, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b .chatStrip .chatUserImg img {
  height: 100%;
  height: 100%;
}
/* line 79, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b .chatStrip .chatText {
  position: relative;
  display: inline-block;
  height: 12px;
  line-height: 12px;
  max-width: 78%;
  padding: 11px 10px;
  font-size: 12px;
  text-align: left;
  font-family: "Microsoft YaHei";
}
/* line 89, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b .chatStrip .chatText .img, .ChatView .ChatViewContWarp .a_b .chatStrip .chatText > .img img {
  position: relative;
  display: inline-block;
  width: 180px;
  max-height: 300px;
  margin: 0 auto;
}
/* line 101, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b .isSelf .chatUserImg, .ChatView .ChatViewContWarp .a_b .isSelf .chatText {
  float: right;
}
/* line 104, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b .isSelf .chatText {
  background: #9eea6a;
  color: #000;
  margin-right: 9px;
}
/* line 108, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b .isSelf .chatText::before {
  position: absolute;
  content: '';
  width: 0px;
  height: 0;
  right: -6px;
  top: 9px;
  border-bottom: 7px solid transparent;
  border-left: 8px solid #9eea6a;
  border-top: 7px solid transparent;
}
/* line 122, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b .isOther .chatUserImg, .ChatView .ChatViewContWarp .a_b .isOther .chatText {
  float: left;
}
/* line 125, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b .isOther .chatText {
  background-color: #fff;
  color: #000;
  margin-left: 9px;
  border: 1px solid #ededed;
}
/* line 130, ../sass/ChatView.scss */
.ChatView .ChatViewContWarp .a_b .isOther .chatText::before {
  position: absolute;
  content: '';
  width: 0px;
  height: 0;
  left: -6px;
  top: 9px;
  border-bottom: 7px solid transparent;
  border-right: 8px solid #fff;
  border-top: 7px solid transparent;
}
/* line 145, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer {
  height: 156px;
  background: #fff;
}
/* line 148, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer .edMenu {
  width: 100%;
  height: 18px;
  padding-top: 22px;
}
/* line 152, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer .edMenu .edMenuIcon {
  position: relative;
  float: left;
  display: inline-block;
  width: 20px;
  height: 17px;
  margin-left: 20px;
  cursor: pointer;
  overflow: hidden;
}
/* line 162, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer .edMenu .face {
  height: 18px;
  background: url(../../images/face.png) no-repeat center top;
}
/* line 165, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer .edMenu .face:hover {
  background-position: 0 -19px;
}
/* line 169, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer .edMenu .image {
  background: url(../../images/img.png) no-repeat center top;
}
/* line 171, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer .edMenu .image:hover {
  background-position: 0 -18px;
}
/* line 174, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer .edMenu .image input {
  position: relative;
  top: -5px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
/* line 184, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer .edCont {
  position: relative;
  padding: 0 15px;
  height: 103px;
  margin: 10px 0;
  overflow: hidden;
  overflow-y: auto;
}
/* line 192, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer .edCont::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
/* line 196, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer .edCont::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
/* line 201, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer .edCont .edContWarp {
  width: 100%;
  height: 100%;
  min-height: 85px;
  font-size: 13px;
  color: #666;
}
/* line 207, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer .edCont .edContWarp .img {
  display: inline-block;
  width: 80px;
  height: 80px;
}
/* line 213, ../sass/ChatView.scss */
.ChatView .ChatViewContEditer .edCont span {
  position: absolute;
  top: 5px;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #b3b3b3;
  -web-user-select: none;
}

/* line 224, ../sass/ChatView.scss */
.defaultState {
  background: #f5f5f5 url(../../images/defaultState.png) no-repeat center;
}
