/* line 1, ../sass/Chat.scss */
.Chat {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 5, ../sass/Chat.scss */
.Chat .ChatBox {
  float: left;
  width: 249px;
  height: 100%;
  border-right: 1px solid #e5e6e7;
  background: #e5e6e7;
  z-index: 2;
}
/* line 12, ../sass/Chat.scss */
.Chat .ChatBox .Serch {
  width: 225px;
  height: 25px;
  margin: 25px 0 12px 0;
  padding: 0 13px 0 12px;
}
/* line 17, ../sass/Chat.scss */
.Chat .ChatBox .Serch input {
  float: left;
  width: 177px;
  height: 11px;
  padding: 6px 8px 6px 3px;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #666;
  border: 1px solid #d9d6d6;
  outline: none;
  vertical-align: top;
  background: #E5E3E2 url(../../images/icon.png) no-repeat 170px center;
}
/* line 30, ../sass/Chat.scss */
.Chat .ChatBox .Serch .SerchBtn {
  float: right;
  text-align: center;
  line-height: 20px;
  width: 23px;
  height: 23px;
  border: 1px solid #d9d6d6;
  color: #999;
  font-size: 23px;
  cursor: pointer;
}
/* line 42, ../sass/Chat.scss */
.Chat .ChatBox .ChatList {
  width: 100%;
  height: 678px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-user-select: none;
}
/* line 48, ../sass/Chat.scss */
.Chat .ChatBox .ChatList::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
/* line 52, ../sass/Chat.scss */
.Chat .ChatBox .ChatList::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}
/* line 58, ../sass/Chat.scss */
.Chat .ChatBox .ChatList:hover::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}
/* line 64, ../sass/Chat.scss */
.Chat .ChatBox .ChatList ul {
  width: 100%;
}
/* line 67, ../sass/Chat.scss */
.Chat .ChatBox .ChatList li {
  height: 40px;
  padding: 12px;
  cursor: pointer;
}
/* line 71, ../sass/Chat.scss */
.Chat .ChatBox .ChatList li:hover, .Chat .ChatBox .ChatList li.current {
  background: #c9c8c8;
}
/* line 74, ../sass/Chat.scss */
.Chat .ChatBox .ChatList li:active {
  background: #d0d5d8;
}
/* line 77, ../sass/Chat.scss */
.Chat .ChatBox .ChatList li .li {
  width: 100%;
  height: 100%;
}
/* line 81, ../sass/Chat.scss */
.Chat .ChatBox .ChatList li .userHd {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
/* line 87, ../sass/Chat.scss */
.Chat .ChatBox .ChatList li .userHd .userHdImg {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
  background: #999;
}
/* line 93, ../sass/Chat.scss */
.Chat .ChatBox .ChatList li .userHd .userHdImg img {
  width: 100%;
  height: 100%;
}
/* line 99, ../sass/Chat.scss */
.Chat .ChatBox .ChatList li .userInfo {
  float: left;
  width: 170px;
  height: 40px;
}
/* line 103, ../sass/Chat.scss */
.Chat .ChatBox .ChatList li .userInfo div {
  width: 100%;
  height: 21px;
  line-height: 21px;
}
/* line 108, ../sass/Chat.scss */
.Chat .ChatBox .ChatList li .userInfo .name {
  width: 135px;
  font-size: 13px;
  font-family: "Microsoft YaHei";
  color: #000;
}
/* line 114, ../sass/Chat.scss */
.Chat .ChatBox .ChatList li .userInfo .oneMessage {
  width: 140px;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #999;
}
/* line 120, ../sass/Chat.scss */
.Chat .ChatBox .ChatList li .userInfo .userInfoTime {
  font-size: 12px;
  font-family: "Arial";
  color: #b3b3b3;
}
/* line 125, ../sass/Chat.scss */
.Chat .ChatBox .ChatList li .userInfo .textHidden {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 134, ../sass/Chat.scss */
.Chat .ChatBox .ChatList .offline img {
  -webkit-filter: grayscale(95%);
}
/* line 137, ../sass/Chat.scss */
.Chat .ChatBox .ChatList .offline div, .Chat .ChatBox .ChatList .offline span {
  color: #b3b3b3 !important;
}
