/* line 1, ../sass/Index.scss */
.Index {
  position: relative;
  width: 876px;
  height: 740px;
  border: 1px solid #cacaca;
  border-radius: 5px;
}

/* line 8, ../sass/Index.scss */
.Content {
  position: relative;
  float: left;
  height: 100%;
  width: 816px;
}

/* line 14, ../sass/Index.scss */
.Menu {
  position: relative;
  float: left;
  width: 60px;
  height: 100%;
  background: #27282C;
}
/* line 20, ../sass/Index.scss */
.Menu .userImg {
  width: 34px;
  height: 34px;
  border-radius: 5px;
  overflow: hidden;
  background: yellow;
  margin: 20px 13px 24px 13px;
}
/* line 27, ../sass/Index.scss */
.Menu .userImg img {
  width: 100%;
  height: 100%;
}
/* line 32, ../sass/Index.scss */
.Menu .menuList {
  width: 100%;
  min-height: 100px;
}
/* line 35, ../sass/Index.scss */
.Menu .menuList li {
  position: relative;
  cursor: pointer;
}
/* line 38, ../sass/Index.scss */
.Menu .menuList li div {
  opacity: 0.8;
}
/* line 42, ../sass/Index.scss */
.Menu .menuList li:hover div {
  opacity: 1;
}
/* line 47, ../sass/Index.scss */
.Menu .menuList li.current div {
  opacity: 1;
}
/* line 50, ../sass/Index.scss */
.Menu .menuList li.current.message div {
  background-position: 0 -21px;
}
/* line 53, ../sass/Index.scss */
.Menu .menuList li.current.friends div {
  background-position: 0 -20px;
}
/* line 56, ../sass/Index.scss */
.Menu .menuList li.current.collection div {
  background-position: 0 -24px;
}
/* line 60, ../sass/Index.scss */
.Menu .menuList li.message {
  height: 20px;
  padding: 15px 0  15px  18px;
}
/* line 63, ../sass/Index.scss */
.Menu .menuList li.message div {
  width: 23px;
  height: 20px;
  background: url(../../images/message.png) no-repeat center;
  background-position: 0 0;
}
/* line 69, ../sass/Index.scss */
.Menu .menuList li.message span {
  position: absolute;
  left: 34px;
  top: 7px;
  display: inline-block;
  padding: 0 7px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 11px;
  font-family: "Arial";
  color: white;
  background-color: #f74c31;
}
/* line 85, ../sass/Index.scss */
.Menu .menuList li.friends {
  height: 19px;
  width: 23px;
  padding: 15px 0  15px  18px;
}
/* line 89, ../sass/Index.scss */
.Menu .menuList li.friends div {
  width: 23px;
  height: 19px;
  background: url(../../images/friends.png) no-repeat center;
  background-position: 0 0;
}
/* line 95, ../sass/Index.scss */
.Menu .menuList li.friends span {
  position: absolute;
  left: 34px;
  top: 7px;
  display: inline-block;
  padding: 0 7px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 11px;
  font-family: "Arial";
  color: white;
  background-color: #f74c31;
}
/* line 111, ../sass/Index.scss */
.Menu .menuList li.collection {
  height: 13px;
  width: 21px;
  padding: 15px 0  20px  18px;
}
/* line 115, ../sass/Index.scss */
.Menu .menuList li.collection div {
  width: 21px;
  height: 23px;
  background: url(../../images/collection.png) no-repeat center;
  background-position: 0 0;
}
/* line 121, ../sass/Index.scss */
.Menu .menuList li.collection span {
  position: absolute;
  left: 34px;
  top: 7px;
  display: inline-block;
  padding: 0 7px;
  height: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 11px;
  font-family: "Arial";
  color: white;
  background-color: #f74c31;
}
/* line 139, ../sass/Index.scss */
.Menu .otherList {
  position: absolute;
  left: 0;
  bottom: 17px;
  width: 69px;
  min-height: 16px;
}
/* line 145, ../sass/Index.scss */
.Menu .otherList .addFriends {
  width: 69px;
  height: 16px;
  text-align: center;
  cursor: pointer;
}
/* line 151, ../sass/Index.scss */
.Menu .otherList .addFriends:hover div {
  background-position: 0 -17px;
}
/* line 155, ../sass/Index.scss */
.Menu .otherList .addFriends div {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../../images/add.png) no-repeat center top;
}
