.ChatView{
  float:left;
  width:566px;
  height:100%;
  .ChatViewContMenu{
  	width:100%;
  	height:29px;
  	line-height:20px;
  	span{
		font-size: 16px;
		font-family: "Microsoft YaHei";
		color: rgb(64, 64, 64);
		margin:0 18px 0 15px;
  	}
  	em{
		font-size: 14px;
		font-family: "Microsoft YaHei";
		color: rgb(179, 179, 179);
		&:hover{
			color: rgb(0, 170, 255);
			cursor:pointer;
		}
  	}
  }
  .ChatViewContWarp{
  	width:100%;
  	height:494px;
  	padding:15px 0;
  	background:#f7f9fa;
  	.v_a{
  		padding:0 15px;
  		height:100%;
  		overflow:hidden;
  		overflow-y:auto;
  		&::-webkit-scrollbar{
         width: 5px;     
         height: 4px;
      }
      
      &:hover{
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            border-radius: 0;
            background: rgba(0,0,0,0.1);
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
          background: rgba(0,0,0,0.2);
      }
      }
  	}
  	.a_b{
  		width:100%;
  		height:100%;
  		li{
        margin-bottom:20px;
  		}
  		.chatTime{
        text-align:center;
        font-size: 12px;
        font-family: "Microsoft YaHei";
        color: rgb(153, 153, 153);
        margin-bottom:20px;
  		}
  		.chatStrip{
  			position:relative;
  			min-height:34px;
  			.chatUserImg{
  				width:34px;
  				height:34px;
  				border-radius:4px;
  				overflow:hidden;
  				img{
  					height:100%;
  					height:100%;
  				}
  			}
  			.chatText{
  				position:relative;
  				display:inline-block;
  				height:12px;
          line-height:12px;
  				max-width:78%;
  				padding:11px 10px;
          font-size:12px;
  				text-align:left;
  				font-family: "Microsoft YaHei";
  				.img, &>.img img{
  					position:relative;
  					// left:50%;
  					display:inline-block;
  					width:180px;
  					max-height:300px;
  					margin:0 auto;
  				}
  				
  			}
  		}
  		.isSelf{
  			.chatUserImg,.chatText{
  				float:right;
  			}
  			.chatText{
  				background:#9eea6a;
  				color:#000;
  				margin-right:9px;
  				&::before{
            position: absolute;
            content: '';
            width: 0px;
            height: 0;
            right: -6px;
            top: 9px;
            border-bottom: 7px solid transparent;
            border-left: 8px solid #9eea6a;
            border-top: 7px solid transparent;
  				}
  			}
  		}
  		.isOther{
  			.chatUserImg,.chatText{
  				float:left;
  			}
  			.chatText{
  				background-color:#fff;
  				color: #000;
  				margin-left:9px;
          border:1px solid #ededed;
  				&::before{
            position: absolute;
            content: '';
            width: 0px;
            height: 0;
            left: -6px;
            top: 9px;
            border-bottom: 7px solid transparent;
            border-right: 8px solid #fff;
            border-top: 7px solid transparent;
  				}
  			}
  		}
  	}
  }
  .ChatViewContEditer{
  	height:156px;
  	background:#fff;
  	.edMenu{
  		width:100%;
  		height:18px;
  		padding-top:22px;
  		.edMenuIcon{
  			position:relative;
  			float:left;
  			display:inline-block;
  			width:20px;
  			height:17px;
  			margin-left:20px;
  			cursor:pointer;
        overflow:hidden;
  		}
  		.face{
  			height:18px;
  			background:url(../../images/face.png) no-repeat center top;
  			&:hover{
  				background-position:0 -19px;
  			}
  		}
  		.image{
  			background:url(../../images/img.png) no-repeat center top;
  			&:hover{
  				background-position:0 -18px;
  			}
  			input{
  				position:relative;
  				top:-5px;
  				width:100%;
  				height:100%;
  				opacity:0;
  				cursor:pointer;
  			}
  		}
  	}
  	.edCont{
      position:relative;
  		padding:0 15px;
  		// height:85px;
      height:103px;
  		margin:10px 0;
  		overflow:hidden;
  		overflow-y:auto;
  		&::-webkit-scrollbar{
         width: 5px;     
         height: 4px;
      }
      &::-webkit-scrollbar-thumb {
          border-radius: 5px;
          -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
          background: rgba(0,0,0,0.2);
      }
      .edContWarp{
      	width:100%;
      	height:100%;
      	min-height:85px;
      	font-size:13px;
      	color:#666;
      	.img{
      		display:inline-block;
      		width:80px;
      		height:80px;
      	}
      }
      span{
        position:absolute;
        top:5px;
        font-size: 14px;
        font-family: "Microsoft YaHei";
        color: rgb(179, 179, 179);
        -web-user-select:none;
      }
  	}
  }
}
.defaultState{
  background:#f5f5f5 url(../../images/defaultState.png) no-repeat center;
}
