.Chat{
   position:relative;
   width:100%;
   height:100%;
   .ChatBox{
      float:left;
   	  width:249px;
   	  height:100%;
   	  border-right:1px solid #e5e6e7;
   	  background:#e5e6e7;
      z-index:2;
   	  .Serch{
   	  	width:225px;
        height:25px;
        margin:25px 0 12px 0;
        padding:0 13px 0 12px;
   	  	input{
          float:left;
          width:177px;
      		height: 11px;
      		padding: 6px 8px 6px 3px;
      		font-size: 12px;
      		font-family: "Microsoft YaHei";
      		color:#666;
          border:1px solid #d9d6d6;
      		outline:none;
          vertical-align: top;
      		background:#E5E3E2 url(../../images/icon.png) no-repeat 170px center;
   	  	}
        .SerchBtn{
          float:right;
          text-align:center;
          line-height:20px;
          width:23px;
          height:23px;
          border:1px solid #d9d6d6;
          color:#999;
          font-size:23px;
          cursor:pointer;
        }
   	  }
   	  .ChatList{
   	  	width:100%;
   	  	height:678px;
   	  	overflow:hidden;
   	  	overflow-y:auto;
        -webkit-user-select:none;
        &::-webkit-scrollbar{
           width: 5px;     
           height: 4px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: rgba(0,0,0,0.2);
        }
        &:hover{
          &::-webkit-scrollbar-track {
              -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
              border-radius: 0;
              background: rgba(0,0,0,0.1);
          }
        }
        ul{
          width:100%;
   	  	}
   	  	li{
          height:40px;
          padding:12px;
          cursor:pointer;
          &:hover,&.current{
            background:#c9c8c8;
          }
          &:active{
          	background:#d0d5d8;
          }
          .li{
            width:100%;
            height:100%;
          }
          .userHd{
          	position:relative;
          	float:left;
          	width:40px;
          	height:40px;
          	margin-right:10px;
          	.userHdImg{
          		width:40px;
          		height:40px;
          		border-radius:4px;
          		overflow:hidden;
          		background:#999;
          		img{
          			width:100%;
          			height:100%;
          		}
          	}
          }
          .userInfo{
          	float:left;
          	width:170px;
          	height:40px;
          	div{
          		width:100%;
          		height:21px;
          		line-height:21px;
          	}
          	.name{
          		width:135px;
      				font-size: 13px;
      				font-family: "Microsoft YaHei";
      				color:#000;
          	}
          	.oneMessage{
          		width:140px;
      				font-size: 12px;
      				font-family: "Microsoft YaHei";
      				color:#999;
          	}
          	.userInfoTime{
      				font-size: 12px;
      				font-family: "Arial";
      				color: rgb(179, 179, 179);
          	}
          	.textHidden{
          		display:inline-block;
      				text-overflow: ellipsis;
      				overflow: hidden;
      				white-space: nowrap;
          	}
          }
   	  	}
        .offline{
          img{
             -webkit-filter: grayscale(95%);
          }
          div,span{
            color: rgb(179, 179, 179) !important;
          }
        }
   	  }
   }
}
