.Index{
  position:relative;
  width:876px;
  height:740px;
  border:1px solid #cacaca;
  border-radius:5px;
}
.Content{
	position: relative;
	float: left;
	height: 100%;
  width: 816px;
}
.Menu{
  position:relative;
  float:left;
  width:60px;
  height:100%;
  background:#27282C;
  .userImg{
    width:34px;
    height:34px;
    border-radius:5px;
    overflow:hidden;
    background:yellow;
    margin:20px 13px 24px 13px; 
    img{
      width:100%;
      height:100%;
    }
  }
  .menuList{
    width:100%;
    min-height:100px;
    li{
      position:relative;
      cursor:pointer;
      div{
        opacity:0.8;
      }
      &:hover{
        div{
          opacity:1;
        }
      }
      &.current{
        div{
          opacity:1;
        }
        &.message div{
          background-position:0 -21px;
        }
        &.friends div{
          background-position:0 -20px;
        }
        &.collection div{
          background-position:0 -24px;
        }
      }
      &.message{
        height: 20px;
        padding:15px 0  15px  18px;
        div{
          width:23px;
          height:20px;
          background:url(../../images/message.png) no-repeat center;
          background-position:0 0;
        }
        span{
          position:absolute;
          left:34px;
          top:7px;
          display:inline-block;
          padding:0 7px;
          height:20px;
          border-radius:10px;
          text-align:center;
          line-height:20px;
          font-size: 11px;
          font-family: "Arial";
          color: rgb(255, 255, 255);
          background-color: rgb(247, 76, 49);
        }
      }
      &.friends {
        height:19px;
        width:23px;
        padding:15px 0  15px  18px;
        div{
          width:23px;
          height:19px;
          background:url(../../images/friends.png) no-repeat center;
          background-position:0 0;
        }
        span{
          position:absolute;
          left:34px;
          top:7px;
          display:inline-block;
          padding:0 7px;
          height:20px;
          border-radius:10px;
          text-align:center;
          line-height:20px;
          font-size: 11px;
          font-family: "Arial";
          color: rgb(255, 255, 255);
          background-color: rgb(247, 76, 49);
        }
      }
      &.collection {
        height:13px;
        width:21px;
        padding:15px 0  20px  18px;
        div{
          width:21px;
          height:23px;
          background:url(../../images/collection.png) no-repeat center;
          background-position:0 0;
        }
        span{
          position:absolute;
          left:34px;
          top:7px;
          display:inline-block;
          padding:0 7px;
          height:20px;
          border-radius:10px;
          text-align:center;
          line-height:20px;
          font-size: 11px;
          font-family: "Arial";
          color: rgb(255, 255, 255);
          background-color: rgb(247, 76, 49);
        }
      }
    }
  }
  .otherList{
    position:absolute;
    left:0;
    bottom:17px;
    width:69px;
    min-height:16px;
    .addFriends{
       width:69px;
       height:16px;
       text-align:center;
       cursor:pointer;
       &:hover{
        div{
          background-position:0 -17px;
        }
       }
       div{
        display:inline-block;
        width:16px;
        height:16px;
        background:url(../../images/add.png) no-repeat center top;
       }
    }
  }
}